<app-header *ngIf="mostrarHeader"></app-header>

<h1>
  Hola Mundo {{ nombres + ' ' + apellidos }}
</h1>

<span>Nombre: {{ persona.nombres }}</span> <br>
<span>Apellidos: {{ persona.apellidos }}</span> <br>
<span>Correo: {{ persona.correoElectronico?.correo }}</span> <br> <br>

<input type="button" [value]="textoBoton" (click)="cambiarTextoBoton()">
<input type="button" value="Añadir Correo" (click)="aniadirCorreo()"> <br>

<p>Vista previa nuevo correo: {{ nuevoCorreo }}</p>
<input type="email" placeholder="Nuevo Correo" (keyup.enter)="cambiarCorreo()" [(ngModel)]="nuevoCorreo"> <br>

<input type="button" value="Cambiar Correo" (click)="cambiarCorreo()">
<input type="button" value="Sugerir un Correo" (click)="sugerirCorreo()"> <br> <br>

<input type="text" placeholder="Click para ganar focus" (focus)="ganarFocus()" (focusout)="perdioFocus()">
<span>{{ mensajeFocus }}</span>

<br>
<br>

<input type="button" value="Ocultar Header" (click)="ocultarHeader()">

<br>
<br>

<app-mensaje [contenido]="'Un mensaje de prueba'" error="Un mensaje de error"
             (mensajeLeido)="mostrarMensajeLeido($event)">
</app-mensaje>